/* RESET */

* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    background:
        radial-gradient(circle at 15% 15%,
        rgba(173,216,230,0.6) 0%,
        transparent 45%),

        radial-gradient(circle at 85% 75%,
        rgba(196,181,253,0.5) 0%,
        transparent 40%),

        #fafaf8;

    color: #222;

    overflow-x: hidden;

    background-attachment: fixed; 
}

/* HERO SECTION */

.hero {
    min-height: 100vh;

    display: flex;

    justify-content:space-around;
    
    align-items: center;

    padding: 80px 10%;

    gap:100px;
}

/* LEFT SIDE */

.hero-text {
    flex: 1;
}

.hero-text h3 {

    font-size: 18px;

    letter-spacing: 5px;

    text-transform: uppercase;

    color: #4a6fa5;

    margin-bottom: 25px;

    font-weight: 700;

}

.hero-text h1{

font-size:64px;

font-weight:700;

margin-bottom:20px;

line-height:1.1;
}

.hero-text h2 {
    font-size: 30px;

    font-weight: 400;

    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;

    margin-top: 25px;

    color: #555;
}

/* JOURNEY CARD */

.journey-card{

margin-top:50px;

background:rgba(255,255,255,.8);

backdrop-filter:blur(15px);

padding:40px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

max-width:380px;
}

.journey-card h3 {

    font-size: 16px;

    text-transform: uppercase;

    letter-spacing: 2px;

    color: #4a6fa5;

    margin-bottom: 20px;

}

.journey-card h2 {

    font-size: 36px;

    line-height: 1.3;

    margin-bottom: 20px;

    color: #222;

}

.journey-card p {

    font-size: 18px;

    color: #666;

    font-style: italic;

}

.journey-card:hover {

    transform: translateY(-5px);

    transition: .4s;

    box-shadow:
    0 20px 40px rgba(0,0,0,.12);

}
/* RIGHT SIDE */

.hero-image {
    flex: 1;

    display: flex;

    justify-content: center;
}

.hero-image img{

width:450px;

height:560px;

object-fit:cover;

border-radius:30px;

border:8px solid rgba(255,255,255,.9);

box-shadow:
0 30px 70px rgba(0,0,0,.18);

}

.hero-image img:hover {

    transform: translateY(-8px);

}

/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 10%;

backdrop-filter: blur(10px);    
}

.logo{

font-size:24px;

font-weight:700;

color:#234a8b;

}

.navbar ul{

display:flex;

gap:30px;

list-style:none;
}

.navbar a{

text-decoration:none;

color:#444;

font-size:18px;

transition:.3s;
}

.navbar a:hover{

color:#000;
}
